<div class="sect1">
<h2 id="_description">Description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This rule raises an issue when empty destructuring patterns (like <code>{}</code> or <code>[]</code>) are used in Vue template expressions.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_why_is_this_an_issue">Why is this an issue?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Empty destructuring patterns in Vue templates serve no purpose and often indicate incomplete code.</p>
</div>
<div class="paragraph">
<p>Destructuring is a JavaScript feature that extracts values from objects or arrays into variables. For example, <code>const {name, age} = user</code> extracts the <code>name</code> and <code>age</code> properties from the <code>user</code> object.</p>
</div>
<div class="paragraph">
<p>However, empty destructuring patterns like <code>const {} = user</code> or <code>const [] = items</code> don&#8217;t extract any values. They&#8217;re syntactically valid but functionally useless.</p>
</div>
<div class="paragraph">
<p>In Vue templates, empty destructuring patterns can appear in various contexts like <code>v-for</code> directives or template expressions. When they occur, they usually mean one of two things:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The developer forgot to specify which properties or elements to extract</p>
</li>
<li>
<p>The destructuring assignment is leftover code that should be removed</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Empty destructuring patterns make code harder to understand and maintain. They can confuse other developers who might wonder what the code was supposed to do.</p>
</div>
<div class="sect2">
<h3 id="_what_is_the_potential_impact">What is the potential impact?</h3>
<div class="paragraph">
<p>Empty destructuring patterns don&#8217;t cause runtime errors, but they make code less readable and may indicate incomplete implementation. This can lead to confusion during code reviews and maintenance.</p>
</div>
</div>
<div class="sect2">
<h3 id="_how_to_fix_in_vue_js">How to fix in Vue.js?</h3>
<div class="paragraph">
<p>Remove the empty destructuring pattern if it&#8217;s not needed, or add the variables you want to extract.</p>
</div>
<div class="sect3">
<h4 id="_non_compliant_code_example">Non-compliant code example</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-html" data-lang="html">&lt;template&gt;
  &lt;div v-for="{} in items" :key="index"&gt;  &lt;!-- Noncompliant --&gt;
    {{ item }}
  &lt;/div&gt;
&lt;/template&gt;</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_compliant_code_example">Compliant code example</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-html" data-lang="html">&lt;template&gt;
  &lt;div v-for="item in items" :key="index"&gt;
    {{ item }}
  &lt;/div&gt;
&lt;/template&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>If you need specific properties, destructure them explicitly instead of using an empty pattern.</p>
</div>
</div>
<div class="sect3">
<h4 id="_non_compliant_code_example_2">Non-compliant code example</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-html" data-lang="html">&lt;template&gt;
  &lt;div v-for="{} in users" :key="index"&gt;  &lt;!-- Noncompliant --&gt;
    {{ user.name }}
  &lt;/div&gt;
&lt;/template&gt;</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_compliant_code_example_2">Compliant code example</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-html" data-lang="html">&lt;template&gt;
  &lt;div v-for="{name} in users" :key="index"&gt;
    {{ name }}
  &lt;/div&gt;
&lt;/template&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>For array destructuring, either remove the empty pattern or specify the elements you want to extract.</p>
</div>
</div>
<div class="sect3">
<h4 id="_non_compliant_code_example_3">Non-compliant code example</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-html" data-lang="html">&lt;template&gt;
  &lt;div v-for="[] in coordinates" :key="index"&gt;  &lt;!-- Noncompliant --&gt;
    Processing coordinate
  &lt;/div&gt;
&lt;/template&gt;</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_compliant_code_example_3">Compliant code example</h4>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-html" data-lang="html">&lt;template&gt;
  &lt;div v-for="[x, y] in coordinates" :key="index"&gt;
    Point: {{ x }}, {{ y }}
  &lt;/div&gt;
&lt;/template&gt;</code></pre>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_documentation">Documentation</h3>
<div class="ulist">
<ul>
<li>
<p>ESLint no-empty-pattern rule - <a href="https://eslint.org/docs/rules/no-empty-pattern">The core ESLint rule that this Vue rule extends</a></p>
</li>
<li>
<p>Vue.js Template Syntax - <a href="https://vuejs.org/guide/essentials/template-syntax.html">Official Vue.js documentation on template syntax</a></p>
</li>
<li>
<p>MDN Destructuring Assignment - <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment">Comprehensive guide to JavaScript destructuring</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_related_rules">Related Rules</h3>
<div class="ulist">
<ul>
<li>
<p><a data-rspec-id="S1481" class="rspec-auto-link">RSPEC-1481</a> - <a href="https://rules.sonarsource.com/javascript/RSPEC-1481">Unused local variables should be removed</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>