[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.8"
beautifulsoup4 = "==4.13.5"
rspec-tools = {editable = true, path = "."}
gitpython = "==3.1.44"
pygithub = "==2.6.1"
jsonschema = "==4.23.0"
fs = "==2.4.16"
slackclient = "==2.9.4"

[dev-packages]
pytest = "==8.3.5"
mypy = "==1.15.0"
pytest-snapshot = "==0.9.0"
pytest-cov = "==6.1.0"
black = "==25.1.0"
usort = "==1.0.8.post1"
flake8 = "==7.2.0"

[requires]
python_version = "3.12"
