[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.1.2"
bs4 = "*"

[dev-packages]
pytest = ">=6.2.2"
mypy = ">=0.800"

[requires]
python_version = "3.9"

[packages.rspec-tools]
editable = true
path = "."

[packages.e1839a8]
path = "."
editable = true
