[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.1.2"
bs4 = "*"
rspec-tools = {editable = true, path = "."}
gitpython = "*"
pygithub = "*"
jsonschema = "*"

[dev-packages]
pytest = ">=6.2.2"
mypy = ">=0.800"
rspec-tools = {editable = true, path = "."}

[requires]
python_version = "3.9"
