name: Build
on:
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  all_required_checks:
    runs-on: github-ubuntu-latest-s
    name: all_required_checks
    steps:
      - name: All required checks passed
        run: echo 'All required checks have passed'
