name: PR should have a language label
on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]

jobs:
  label:
    runs-on: github-ubuntu-latest-s
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: mheap/github-action-required-labels@v5
        with:
          mode: minimum
          count: 1
          add_comment: true
          use_regex: true
          labels: ".*"
          message: "Please add a label with the relevant language(s) to be able to merge this PR"
